
.container{
    position: absolute;
    top:48%;
    left:42%;
}
.Fifthbox{
    width: 350px;
    height: 670px;
    background:orange;
    color: black;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-style: solid;
    border-color: blue;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.two-col {
    overflow: hidden;
}

.two-col .col1,
.two-col .col2 {
    width: 49%;
}

.two-col .col1 {
    float: left;
    font-weight:bold
}

.two-col .col2 {
    float: right;
    font-weight:bold
}

.two-col label {
    display: block;
}

.Fifthbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: left;
}
.Fifthbox input{
    width: 100%;
    margin-bottom: 20px;
}
.Fifthbox input[type='text'],input[type='LastName']
{
    border: none;
    border-bottom: 5px solid red;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.Fifthbox input[type='submit']
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
}
.Fifthbox input[type='submit']:hover
{
    cursor: pointer;
    background: blue;
    color: #000;
}