
.container{
    position: absolute;
    top:48%;
    left:10%;;
}
.Fourthbox{
    width: 480px;
    height: 600px;
    background: white;
    color: black;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.two-col {
    overflow: hidden;
}

.two-col .col1,
.two-col .col2 {
    width: 49%;
}

.two-col .col1 {
    float: left;
    font-weight:bold
}

.two-col .col2 {
    float: right;
    font-weight:bold
}

.two-col label {
    display: block;
}

.Fourthbox input{
    width: 100%;
    margin-bottom: 20px;
}

.Fourthbox input[type='submit']
{
    border: none;
    outline: none;
    width: auto;
    height: 40px;
    background: #fb2525;
    color:black;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 30px;
}
.Fourthbox input[type='submit']:hover
{
    cursor: pointer;
    background: blue;
    color: #000;
}