.container{
    position: absolute;
    top:48%;
    left:42%;
}
.smallbox{
    width: 320px;
    height: 450px;
    background:orange;
    color: black;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-style: solid;
    border-color:blue;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.smallbox input{
    width: 100%;
    margin-bottom: 20px;
}
.smallbox input[type='text'],input[type='MobileNumber']
{
    border: none;
    border-bottom: 5px solid red;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.smallbox input[type='submit']
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
}
.smallbox input[type='submit']:hover
{
    cursor: pointer;
    background: blue;
    color: #000;
}
.smallbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:black;
}
.smallbox a:hover
{
  color: red;
}